*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

section.navigation {
    background: blue;
    width: 120px;
    padding: 10px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

nav.menu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
}

nav.menu a {
    display: block;
    padding: 20px;
    color: white;
}

div.mainContainer {
    margin: auto;
    width: 1367px;
    height: 647px;
}

div.main-screen {
    margin: auto;
    margin-top: 10px;
    width: 1219px;
    height: 647px;
    float: right;
}

label {
    position: relative;
    margin-top: 20px;
    font-size: 20px;
}

button.add-metric-button {
    position: relative;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 120%;
    width: 210px;
    height: 40px;
    float: right;
}

table, td, th {
    border: 1px solid;
}

table {
    position: relative;
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
}

.button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button.button-delete {
    background-color: white;
    color: black;
    border: 2px solid #f83939;
}

button.button-delete:hover {
    background-color: #f83939;
    color: white;
}

button.button-consult {
    background-color: white;
    color: black;
    border: 2px solid #58d97c;
}

button.button-consult:hover {
    background-color: #58d97c;
    color: white;
}

button.button-edit {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

button.button-edit:hover {
    background-color: #008CBA;
    color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: white;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #ccc;
}
.table-striped>thead>tr>th {
    background-color: #eee;
}
