*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

section.navigation {
    background: black;
    width: 120px;
    padding: 10px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

nav.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

nav.menu a {
    display: block;
    padding: 20px;
    color: white;
}

div.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

button {
    background-color: limegreen;
    font: bold 150% "Comic Sans MS";
    border-radius: 20px;
    align-self: self-end;
}
