*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

section.navigation {
    background: blue;
    width: 120px;
    padding: 10px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

nav.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

nav.menu a {
    display: block;
    padding: 20px;
    color: white;
}

div.mainContainer {
    margin: auto;
    width: 1367px;
    height: 647px;
}

div.main-screen {
    margin: auto;
    margin-top: 10px;
    width: 1219px;
    height: 647px;
    float: right;
}

p {
    position: relative;
    margin-top: 10px;
    font-size: 18px;
}

b.title {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}