*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

.back-button {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
}

.title_table {
    text-align: center;
    font-size: 20px;
}

table, td, th {
    border: 1px solid;
    border-collapse: collapse;
}

table {
    position: relative;
    width: 100%;
    padding: 15px;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;

}

table.modifiers {
    position: relative;
    float: right;
}

table.conditions {
    position: relative;
    float: right;
}


div.main-screen {
    margin: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 1219px;
    height: 647px;
    float: left;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: white;
}
.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #ccc;
}
.table-striped>tbody>tr>th {
    font-size: 20px;
    align-content: center;
}

button.btn-primary {
    position: relative;
    float: right;
    margin: 10px;
    font-size: 15px;
}

button.btn-info {
    position: relative;
    float: right;
    margin: 10px;
}

button.btn-danger {
    position: relative;
    float: right;
    margin: 10px;
}

div.scroll {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    overflow-y: scroll;
    height: 500px;
    width: 1300px;
}

div.buttons {
    position: relative;
    height: 50px;
    width: 1300px;
}