<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metrics Assister</title>
    <link href="css/assister.css" rel="stylesheet" type="text/css">
</head>
<body>
   <div>
       <button type="button" class="cancel-button" onclick="cancel();"> <span> Cancel </span> </button>
       <button type="button" class="back-button"> <i class="fa fa-angle-left"> </i><span> Back </span> </button>
       <button type="button" class="next-button" onclick="next();"> <span> Next </span> <i class="fa fa-angle-left"> </i> </button>
       <button type="button" class="accept-button"> <span> Accept </span></button>
   </div>
</body>
<script src="js/assister.js"></script>
</html>