<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metrics Assister</title>
    <link href="/css/assister.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="mainContainer">
    <div class="main-screen">
        <div> <a href="/metrics"> <i id="back-button" class="fa fa-arrow-circle-left fa-3x"></i> </a>
            <br>
        </div>
        <div>
            <label class="title">CREATE YOUR METRIC</label>
        </div> <br>
            <div class="basic_info">
            <label for="pattern"> Select Pattern: &nbsp;</label> <select onchange="type_enablement(); displayDiv();" name="pattern" id="pattern">
                <option value="pattern">Select an option</option>
                <option value="percentage">Percentage</option>
                <option value="standard deviation">Standard Deviation</option>
                <option value="frequency">Frequency</option>
            </select>
            <br> <br>

            <label for="type"> Select Type: &nbsp;</label><select disabled="disabled" onchange="subject_enablement()" name="type" id="type">
                <option value="type">Select an option</option>
                <option value="evaluative"> Evaluative</option>
                <option value="informative">Informative</option>
            </select>
            <br> <br>

            <label for="subject"> Select Subject: &nbsp;</label><select disabled="disabled" onchange="teamextension_enablement(); displayDiv()" name="subject" id="subject">
                <option value="subject">Select an option</option>
                <option value="individual">Individual</option>
                <option value="team">Team</option>
            </select>
            <br> <br>

            <label for="teamextension"> Select Team Extension: &nbsp;</label><select disabled="disabled" onchange="displayDiv();" name="teamextension" id="teamextension">
                <option value="teamextension">Select an option</option>
                <option value="overall">Overall</option>
                <option value="standard_deviation" >Standard Deviation</option>
            </select>
            <br> <br>
            </div>

            <div id="assister" class="assister">
                <br>
                <textarea id="description_box" readonly class="description" rows="2" type="text" >  </textarea>
                <br> <br>
                <label for="object"> Select Object: &nbsp;</label>
                <select onchange="modifier_enablement(); count_enablement()" name="object" id="object">
                    <option value="object">Select an option</option>
                    <option value="task">Task</option>
                    <option value="userstory">User Story</option>
                    <option value="commit">Commit</option>
                </select>
                <br> <br>

                <div onchange="cond_val_enablement()" class="modifier" id="modifier_div">
                <label for="modifier"> Select Modifier Type: &nbsp;</label>
                <select disabled="disabled" onchange="modifier_expressions()" name="modifier" id="modifier">
                    <option value="modifier">Select an option</option>
                    <option value="none">None</option>
                    <option value="state">State</option>
                    <option value="sum">Sum</option>
                </select>

                <label for="modifier_attribute" id="modifier_attribute_label" class="modifier_attribute_label"> Select Modifier Attribute: &nbsp;</label>
                <select disabled="disabled" class="modifier_attribute" id="modifier_attribute">
                    <option value="modifier_attribute">Select an option</option>
                    <option value="closed">Closed</option>
                    <option value="lines_of_code">Lines of code</option>
                    <option value="estimated_effort">Estimated effort</option>
                    <option value="actual_effort">Actual effort</option>
                </select>
                <br> <br>
                </div>

                <div class="condition" id="condition_div">
                <label for="condition"> Select Condition Type: &nbsp;</label>
                <select onchange="condition_changes()" disabled="disabled" name="condition" id="condition">
                    <option value="condition">Select an option</option>
                    <option value="defined">Defined</option>
                    <option value="card">Card</option>
                    <option value="apply">Apply</option>
                    <option value="self">Self</option>
                </select>

                <label for="condition_attribute"> Select Condition Attribute: &nbsp;</label>
                <select onchange="condition_changes()" disabled="disabled" name="condition_attribute" id="condition_attribute">
                    <option value="condition_attribute">Select an option</option>
                    <option value="estimated_effort">Estimated effort</option>
                    <option value="actual_effort">Actual effort</option>
                </select>
                <br> <br>
                </div>

                <div class="count" id="count_div">
                <label for="count"> Select Count Type: &nbsp;</label>
                <select onchange="count_changes()" disabled="disabled" name="count" id="count">
                    <option value="count">Select an option</option>
                    <option value="state">State</option>

                </select>

                <label for="count_attribute"> Select Count Attribute: &nbsp;</label>
                <select onchange="count_changes()" disabled="disabled" name="count_attribute" id="count_attribute">
                    <option value="count_attribute">Select an option</option>
                    <option value="closed">Closed</option>
                </select>
                <br> <br>
                </div>

                <div class="value" id="value_div">
                <label for="value"> Select Value: &nbsp;</label>
                <select disabled="disabled" onchange="value_expressions(); value_changes()" name="value" id="value">
                    <option value="value">Select an option</option>
                    <option value="estimated_effort">Estimated effort</option>
                    <option value="actual_effort">Actual effort</option>
                </select>
                    <input class="value_input" id="value_input"></input>
                <br> <br>
                </div>

                <label for="name" id="name"> Metric name: &nbsp; </label>
                <input disabled="disabled" onkeydown="button_enablement()" id="name_metric" class="metric_name" type="text"></input>
                <br> <br>


            <div class="options">
                <button  disabled="disabled" id="generate_button" type="submit" class="btn btn-success" onclick="create()"> Generate </button>
            </div>
           </div>
        </div>


    <div class="lateral-menu">
        <section class="navigation">
            <nav class="menu">
                <a href="/index"><i class="fa fa-fw fa-home fa-2x"></i><span>Homepage</span></a><br>
                <a href="/search"><i class="fa-fw fa fa-search fa-2x"></i><span>Search Dashboard</span></a><br>
                <a href="/metrics"><i class="fa-fw fa fa-edit fa-2x"></i><span>Metrics Editor</span></a><br>
                <a href="#"><i class="fa-fw fa fa-question-circle-o fa-2x"></i><span>Help</span></a><br>
            </nav>
        </section>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="js/assister.js"></script>
</html>