<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Metrics Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="css/editor.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="mainContainer">
    <div class="main-screen" id="editorpage">
        <div id="content">
            <label>METRICS CREATED</label>
            <a href="/assister"> <button type="button" id="metric_button" class="add-metric-button"> <i class="fa fa-plus"></i> <span> Create New Metric </span> </button> </a><br>
        </div> <br> <br>

        <input class="search" id="search_metric" onkeyup="search_Metric();" name="search" placeholder="&nbsp;Search by Name, Pattern, Subject or Object" type="text">
        <div class="scroll">
        <table id="mytable" class="table table-bordered table-striped">
            <thead class="thead-dark">
            <th onclick="sortTable(0);"> Name </th>
                <th onclick="sortTable(1);"> Pattern </th>
                <th onclick="sortTable(2);"> Subject </th>
                <th onclick="sortTable(3);"> Object </th>
                <th> Actions </th>
            </thead>
            <tbody>
                <tr th:each="metric : ${metrics}">
                    <td class="metric_name" th:text="${metric.name}"> &nbsp;</td>
                    <td th:text="${metric.pattern}"> &nbsp;</td>
                    <td th:text="${metric.subject}"> &nbsp;</td>
                    <td th:text="${metric.object}"> &nbsp;</td>
                    <td>
                        <a th:href="@{'/metrics/' + ${metric.id}}"> <button type="submit" class="btn btn-success">Show</button></a> &nbsp;
                        <a th:href="@{'/edit/' + ${metric.id}}"> <button class="btn btn-info">Edit</button></a> &nbsp;
                        <a th:href="@{'/delete/' + ${metric.id}}"> <button type="submit" onclick="return confirm('Are you sure to delete this metric?');" class="btn btn-danger"> Delete</button> </a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="lateral-menu">
        <section class="navigation">
        <nav class="menu">
            <a href="/index"><i class="fa fa-fw fa-home fa-2x"></i><span>Homepage</span></a><br>
            <a href="/search"><i class="fa-fw fa fa-search fa-2x"></i><span>Search Dashboard</span></a><br>
            <a href="#"><i class="fa-fw fa fa-edit fa-2x"></i><span>Metrics Editor</span></a><br>
            <a href="#"><i class="fa-fw fa fa-question-circle-o fa-2x"></i><span>Help</span></a><br>
        </nav>
        </section>
    </div>

</div>
</body>
<script src="js/editor.js"></script>

</html>

