<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Metrics Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/editor.css" rel="stylesheet" type="text/css">
</head>
<body onload="add_query();">
<div class="mainContainer">
    <div class="main-screen">
        <button type="button" class="run-button"> &nbsp; <i class="fa fa-play-circle-o"></i><span>  Run Query &nbsp; </span></button>
        <form class="fields" action="#" th:action="@{/editor}" method="post" th:object="${query}">
            <select class="indexs" th:field="*{index}">
                <option th:each="p : ${index}" th:value="${p}" th:text="${p}" />
            </select>
        </form>
        <br/>
        <div id="content">
        <template>
        <div id="panel">
        <form class="box" action="#" th:action="@{/editor}" method="post" th:object="${query}">
            <label onclick="hide_and_appear();">Query name:</label>
            <input type="text" class="edit-name-query">
           <div id="hidden-content">
               <button id="trash-button" type="button" onclick="delete_query();" class="trash-button"> <i class="fa fa-trash"></i> </button><br/>
           <div id="metrics">
            <select class="metrics" th:field="*{metric}">
                <option th:each="p : ${metric}" th:value="${p}" th:text="${p}" />
            </select>

           <!-- <textarea type="text" class="write-new-metric"> </textarea> -->
            <button type="button" id="metric_button" class="add-metric-button" onclick="add_new_metric();"> &nbsp; <span> Create New Metric &nbsp; <i class="fa fa-pencil"></i>&nbsp; </span> </button>
           </div>
            <br>
            <select class="functions" th:field="*{function}">
                <option th:each="p : ${function}" th:value="${p}" th:text="${p}" />
            </select>
            <input type="text" class="function-text"> <br>
           </div>
        </form>
        </div>
        </template>
        </div>
        <div class="add-query">
            <button id="add-query-button" type="button" onclick="add_query();" class="add-query-button"> &nbsp; <i class="fa fa-plus"></i><span> Add Query &nbsp; </span> </button>

        </div>
    </div>
    <div class="lateral-menu">
        <section class="navigation">
        <nav class="menu">
            <a href="/index"><i class="fa fa-fw fa-home fa-2x"></i><span>Homepage</span></a><br>
            <a href="/search"><i class="fa-fw fa fa-search fa-2x"></i><span>Search Dashboard</span></a><br>
            <a href="#"><i class="fa-fw fa fa-edit fa-2x"></i><span>Metrics Editor</span></a><br>
            <a href="#"><i class="fa-fw fa fa-question-circle-o fa-2x"></i><span>Help</span></a><br>
        </nav>
    </section>
    </div>

</div>
</body>
<script src="js/editor.js"></script>
</html>
