<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Metrics Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/editor.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="mainContainer">
    <div class="main-screen">
        <div id="content">
            <label>METRICS CREATED</label>
            <button type="button" id="metric_button" class="add-metric-button" onclick="add_new_metric();"> <i class="fa fa-plus"></i> <span> Create New Metric </span> </button>
        </div>
    </div>
    <div class="lateral-menu">
        <section class="navigation">
        <nav class="menu">
            <a href="/index"><i class="fa fa-fw fa-home fa-2x"></i><span>Homepage</span></a><br>
            <a href="/search"><i class="fa-fw fa fa-search fa-2x"></i><span>Search Dashboard</span></a><br>
            <a href="#"><i class="fa-fw fa fa-edit fa-2x"></i><span>Metrics Editor</span></a><br>
            <a href="#"><i class="fa-fw fa fa-question-circle-o fa-2x"></i><span>Help</span></a><br>
        </nav>
        </section>
    </div>

</div>
</body>
<script src="js/editor.js"></script>
</html>
