<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Metrics Editor Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="css/homepage.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="mainContainer">
    <div class="main-screen" id="editorpage">
        <div id="content">
            <b class="title">Welcome to Metrics Editor</b>
            <br>
            <p>The main goal of this webapp is the possibility to create, edit and delete metrics in a visual way.</p>
            <br>
            <p>For doing something related to this metrics anyone has to go to Metrics Editor section.</p>
            <br>
            <p>In Metrics Editor section anyone can find a table with all the metrics created until the moment.
            Every metric can be shown in detail, edited and deleted.</p>
            <p>Moreover, this table has the possibility to filter and sort metrics.</p>
            <br>
            <p>During the creation of every metric a couple of files are generated which can be shown in the detailed information of it.</p>
            <br>
            <p>For a better understanding about the fields that take part in the creation of any metric, please go to Help section.</p>
            <br>
        </div> <br> <br>
    </div>

    <div class="lateral-menu">
    <section class="navigation">
        <nav class="menu">
        <a href="#"><i class="fa fa-fw fa-home fa-2x"></i><span>Homepage</span></a><br>
        <a href="/metrics"><i class="fa-fw fa fa-edit fa-2x"></i><span>Metrics Editor</span></a><br>
        <a href="/help"><i class="fa-fw fa fa-question-circle-o fa-2x"></i><span> Help</span></a><br>
        </nav>
    </section>
    </div>
</div>
</body>
</html>
