<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <title>Metrics Editor Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/homepage.css" rel="stylesheet" type="text/css">
</head>
<body>
<center><h1>Welcome to Metrics Editor</h1> </center>
<section class="navigation">
    <nav class="menu">
    <a href="#"><i class="fa fa-fw fa-home fa-2x"></i><span>Homepage</span></a><br>
    <a href="/search"><i class="fa-fw fa fa-search fa-2x"></i><span>Search Dashboard</span></a><br>
    <a href="/editor"><i class="fa-fw fa fa-edit fa-2x"></i><span>Metrics Editor</span></a><br>
    <a href="/search"><i class="fa-fw fa fa-question-circle-o fa-2x"></i><span>Help</span></a><br>
    </nav>
</section>
</body>
</html>
