<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detailed information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/css/show.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<!-- FALTA AÑADIR LA CABECERA A LA PÁGINA CON EL LOGO-->
<div class="main-screen">
    <div> <a href="/metrics"> <i id="back-button" class="fa fa-arrow-circle-left fa-4x"></i> </a>
        <a th:href="@{'/showProperties/' + ${metric.id}}"> <button id="show-properties_button" type="button" class="btn btn-primary"> Show Properties File </button> </a>
        <a th:href="@{'/showQuery/' + ${metric.id}}">  <button id="show-query_button" type="button" class="btn btn-primary"> Show Query File </button> </a>
        <br>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th class="title_table" colspan="2"> Detailed metric information </th>
        </tr>

        <tr> <td> Name </td>
            <td th:text="${metric.name}"> </td></tr>

        <tr> <td> Description </td>
            <td th:text="${metric.description}"> </td></tr>

        <tr> <td> Pattern </td>
            <td th:text="${metric.pattern}"> </td></tr>

        <tr> <td> Subject </td>
            <td th:text="${metric.subject}"> &nbsp;</td> </tr>

        <tr> <td> Type </td>
            <td th:text="${metric.type}"> &nbsp;</td></tr>

        <tr> <td> Team Extension </td>
            <td th:text="${metric.teamextension}"> &nbsp;</td></tr>

        <tr> <td> Object </td>
            <td th:text="${metric.object}"> &nbsp;</td></tr>

        <tr> <td th:if="${metric.value != null}">  Value  </td>
            <td  th:if="${metric.value != null}" th:text="${metric.value}"> </td></tr>

        <tr> <td th:if="${metric.count != null}"> Count </td>
            <td th:if="${metric.count != null}" th:text="${metric.count}"> &nbsp;</td></tr>

        <tr> <td th:if="${metric.count_attribute != null}"> Count Attribute </td>
            <td th:if="${metric.count_attribute != null}" th:text="${metric.count_attribute}"> </td></tr>
        </tr>

        <tr th:if="${not #lists.isEmpty(metric.modifiers)}">
            <td> Modifiers </td>
            <td>
            <table class="table table-bordered table-striped" id="table_modifiers">
                <tr class="title_table">
                    <td> Type </td>
                    <td> Attribute </td>
                </tr>
                <tr th:each="modifiers : ${metric.modifiers}">
                    <td th:text="${metric.modifiers[0].type}"></td>
                    <td th:text="${metric.modifiers[0].modifier_attribute}"></td>
                </tr>
            </table>
            </td>
        </tr>

        <tr th:if="${not #lists.isEmpty(metric.conditions)}">
            <td> Conditions </td>
            <td>
            <table class="table table-bordered table-striped" id="table_conditions">
                <tr class="title_table">
                    <td> Type </td>
                    <td> Attribute </td>
                </tr>
                <tr th:each="condition : ${metric.conditions}">
                    <td th:text="${metric.conditions[0].type}"></td>
                    <td th:text="${metric.conditions[0].condition_attribute}"></td>
                </tr>
            </table>
            </td>
        </tr>

    </table>

</div>
</body>
<script src="js/show.js"></script>
</html>